div {
    margin: 0;
    padding: 0;
}
body {
    background-color: #5d5d5d;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Helvetica Neue', 'Neue Helvetica', 'Arial', 'Trebuchet';
    color: white;
    width: 100%;
    height: 100%;
}

div#everything {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

div#ltitle {
    width: 10%;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    background-color: #0da2d3;
    overflow: hidden;
}

div#ltitle img {
    height: 100%;
    position: absolute;
    top: 0; right: 0;
}

div#ltitle:after {
    background-color: #5d5d5d;
    position: absolute;
    content: ' ';
    top: 0; left 0; bottom: 0; right: 0;
    width: 17px;
    box-shadow: -10px 0 20px black;
}


div#contentFrame {
    width: 90%;
    margin: 0;
    position: absolute;
    right: 0;
    margin-right: 10px;
}

div#contentArea {
    visibility: hidden;
}


div#weathercolumn {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

div#levelcolumn {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

div#levelbox.twocol {
    margin-top: 3em;
}

div#levelcolumn.twocol {
    position: absolute;
    left: 0;
    right: 45%;
    padding: 20px;
}

div#weathercolumn.twocol {
    position: absolute;
    right: 0;
    left: 55%;
    padding: 20px;
}

div#radarbox {
    padding-top: 1px;
}

div#radarbox img {
    width: 85%;
    display: block;
}

div#radarbox.twocol img {
    margin-right: auto;
    margin-left: auto;
}

div.clear {
    clear: both;
    height: 0;
}


div#graph {
    margin-right: 9em;
}

div#legend {
    width: 8em;
    float: right;
}

div#legend li.south {
    color: #2a9338;
}

div#legend li.north {
    color: #AD1F00;
}

div#legend span {
    color: black;
}

div#graphcontainer {
    background-color: white;
    color: black;
    padding: 5px;
}

h3.twocol {
    text-align: center;
}

h3.onecol {
    margin-top: 2em;
}

table.onecol {
}
td {
    background-color: #4F4F4F;
    padding: 8px;
    border: 1px solid #474747;
}



th {
    text-align: left;
    padding: 8px;
}
tr:first-child th {
    border-bottom: 1px solid black;
}
th:first-child {
    border-right: 1px solid black;
}
th:last-child {
    border-right: none;
}

table.weather td, table.weather th {
}

table.weather {
    display: inline-block;
}

th.sub {
    font-weight: normal;
}
.left {
    float: left;
    margin-right: 2em;
}

.clear {
    clear: both;
}
th.caption {
    text-align: center;
}

div#error {
    background-color: red;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 3px;
    margin-top: 1em;
}
