/*  Nov. 2008: Want to switch from orange text and diamonds on the black and grey bars to a more yellow-orange. Rather than change the framework.css file, using this css file to override styles from framework.css*/
#topnav a:hover, #topnav a:active {	color: #ffc266; }
#subnav a:hover, #subnav a:active {	color: #ffc266; }

/*  Nov. 2008: To add a faint brown background to the Infodata boxes, using this style - here overriding styles from framework.css*/
.infodataboxbackground { background-color:#fffcfc; }

/* Default Framework CSS has 25 px of margin below the subnav bar, but not the topnav bar. Then add 20 px always above the content pane below the nav bars
3/3/09: Turned these off as they made big white space below a black bar with no grey bar   */
/*   #subnav { margin-bottom: 0px; }
#contenttable {margin-top: 20px;}  */

/*  Show brown diamonds as bullets in all left-side lists  */
#leftbar li ul li {	list-style-image: url('/frameworkfiles/images/icons/dotbrown7.gif'); }

/* Shrink the default "huge" bold style down to .9em, as default bold makes test too big. This may later be done globally in framework.css  */
.bold {font-weight: bold; font-size: .9em; }

/* Shrink the left side H2 headings in the blue boxes a bit */
#leftbar h2 { font-size: .9em; }

/* January 2009: Make the topnav into buttons, so need to override some framework.css styles  */
#topnavbuttons ul li a:hover {
	background-color: #416AB1;
	color: #ffc266;
	text-decoration: underline;
}

/* Shrink the navbar text size a bit */
#topnavbuttons  { font-size: .9em; }

/* UT has a lot of buttons on the black bar, so override the .91em spacing before and after the link text to make it a bit smaller - to shrink horizontally the text in the black bar  */
#topnavbuttons ul li a { padding: 0.44em .61em;}

/* BLACK TOP NAVIGATION BAR*/
/* January 2009: Make the topnav into buttons, so need to override some framework.css styles  */
#topnav ul li a:hover {
	background-color: #416AB1;
	color: #ffc266;
	text-decoration: underline;
}
.mainbody {
	width: 100%;
}
